# Local environment overrides
# API base for backend
# API_BASE=https://petsetu-api.onrender.com/v1
# API_BASE=https://petsetu-api-dev.onrender.com/v1
API_BASE=http://localhost:4000/v1
NEXT_PUBLIC_API_BASE=http://localhost:4000/v1